@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public sans";
}

header 
{
  display: flex;
  justify-content: flex-start;
  height: 210px;
  background-color: #DBDBDB;
}

.photo 
{
  width: 300px;
  background-color: #343434;
}

.photo img 
{
  margin-left: 55px;
  margin-top: 15px;
  width : 178px; height : 178px;
  border: none;
  -moz-border-radius : 95px;
  -webkit-border-radius : 95px;
  border-radius : 95px;
}

.text 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: #DBDBDB;
  margin-top: 60px;
  margin-left: 110px;

}

body
{ 
 font-family: Arial, Helvetica, sans-serif; min-height: 100vh;
}

.info
{
  width: 300px;
  display: flex;
  flex-direction: column; 
  padding-top: 3px;
  padding-left: 30px;
  background-color: #F6F6F6 ;
  height: 530px;
  border-top: 160px;

}

.blabla 
{
  padding-left: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.tout
{
  margin: 0;
  border: 0;
  display: flex;
}

hr
{
  margin-left: 5%;
  margin-top: 5px;
  width: 50px;
  border-top: 3px solid black;
}